---
import PageLayout from '@/layouts/Base'
import BlogPostPreview from '@/components/BlogPostPreview'
import { getAllTags, sortMDByDate } from '@/util'
import type { MDXInstance, Post } from '@/types'

const allPosts = await Astro.glob<Post>('../../papers/*.mdx')
const allPostsByDate = sortMDByDate(allPosts)
const allTags = getAllTags(allPostsByDate)

const postsWithTag = new Map<string | number, MDXInstance<Post>[]>()
allTags.forEach((tag) => {
  postsWithTag.set(
    tag,
    allPostsByDate.filter((post) => post.frontmatter.tags?.includes(tag))
  )
})

const { tag } = Astro.params

const meta = {
  title: `Tag: ${tag}`,
  description: `View all papers tagged with ${tag}`,
}
---

<PageLayout meta={meta}>
  <h1 class="flex items-center mb-6 title">
    Tag: {tag}
  </h1>
  <section aria-label="Blog post list">
    <ul class="text-left space-y-8">
      {
        postsWithTag.get(tag).map((p) => (
          <li class="[&_q]:w-full flex flex-wrap items-center gap-x-2">
            <BlogPostPreview post={p} as="h2" withDesc />
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
